<hr>
{% if chractersInGroup %}
			<p><h1><b> Name: {{ chractersInGroup.Name }} </b></h1></p>
			<hr>
			<p> Mind: {{ chractersInGroup.MIND_stat }} </p>
			<p> Fist: {{ chractersInGroup.FIST_stat }} </p>
			<p> Eyes: {{ chractersInGroup.EYES_stat }} </p>
			<p> Face: {{ chractersInGroup.FACE_stat }} </p>
			<p> Heart: {{ chractersInGroup.HEART_stat }} </p>
{% else %}
    <p>No characters are available.</p>
{% endif %}
<hr>
{% if characterHP %}
<table style="width:30%">
	<tr>
		<td> </td>
		<td> </td>
		<td>Head:</td>
		<td>{{characterHP.Head_HP}} / {{characterHP.Max_Head_HP}}</td>
		<td> </td>
		<td> </td>
	</tr>
	<tr>
		<td>Left Arm:</td>
		<td>{{characterHP.Left_Arm_HP}} / {{characterHP.Max_Left_Arm_HP}}</td>
		<td>Core:</td>
		<td>{{characterHP.Core_HP}} / {{characterHP.Max_Core_HP}}</td>
		<td>Right Arm:</td>
		<td>{{characterHP.Right_Arm_HP}} / {{characterHP.Max_Right_Arm_HP}}</td>
	</tr>
	<tr>
		<td>Left Leg:</td>
		<td>{{characterHP.Left_Leg_HP}} / {{characterHP.Max_Left_Leg_HP}}</td>
		<td></td>
		<td></td>
		<td>Right Leg:</td>
		<td>{{characterHP.Right_Leg_HP}} / {{characterHP.Max_Right_Leg_HP}}</td>
	</tr>
</table>
{% endif %}

<hr>
<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>