{% extends 'stats/base.html' %}

{% block title %}{{ Group.Name }}'s NPC list{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="col-md-12"> 
		<div class="well-lg">
		  <h2>{{ Group.Name }}'s NPCs</h2>
		</div>
			{% if NPCList %}
			<div class="well">
			{% for NPC in NPCList %}
				<h3><li><a href="{% url 'NPCpage' Group.GID NPC.NID.NID %}">{{ NPC.NID.Name }}</a></li></h3>
			{% endfor %}
			</div>
			{% else %}
				<p>No NPCs are available.</p>
			{% endif %}
	</div>
</div>
{% endblock %}